textarea {
    resize: none;
}

.show > div > .hide {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.show:hover > div > .hide {
    display: block;
    opacity: 1;
}