<div class="container">
    <div class="d-flex justify-content-center">

<form #remindForm="ngForm" (ngSubmit)="remindPassword()" autocomplete="off" style="width: 60%;">
    <h2 class="text-center text-info" style="font-size: 48px;">Forgot password</h2>
    <hr>
    <div class="form-group mt-2">
        <input type="email" class="form-control text-center" name="email" [(ngModel)]="model.email" placeholder="Email">
    </div>
    <div class="form-group text-center">
        <button class="btn btn-success mt-2 me-4" style="width: 35%;" type="submit">Send</button>
        <button class="btn btn-secondary mt-2 ms-4" style="width: 25%;" (click)="cancel()" type="button">Cancel</button>
    </div>

    <div class="row mt-3" *ngIf="validationErrors.length > 0">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">
                {{error}}
            </li>
        </ul>
    </div>

    <div class="row mt-3">
        <h4 class="text-info"> INFO:</h4>
        <p class="text-danger">You will receive an email with the necessary materials to reset your password.</p>
    </div>
</form>
</div>
</div>