<div style="position: fixed; top: 0; z-index: -1;">
    <ng-particles
        [id]="id"
        [options]="particlesOptions"
        [particlesInit]="particlesInit"
        (particlesLoaded)="particlesLoaded($event)"
    ></ng-particles>
</div>
<div class="mt-5">
    <div class="container">
        <div class="d-flex justify-content-center" style="margin-top: 5%;">

            <p *ngIf="!registerMode" style="margin-top: 100px; font-size: 24px; text-align: center; width: 60%; color: darkturquoise;">
                <b style="font-size: 32px;">Let's Communicate</b><br> An application where you can write with your friend or create a group and write with your entire bunch of friends,
                Moreover, it is created solely for educational and hobby purposes.<br>
                So let's create <span style="text-decoration: underline; color: azure;" (click)="registerToggle()">new account</span>
            </p>

            <!-- Register form -->
            <app-register *ngIf="registerMode" (cancelRegister)="cancelRegisterMode($event)"></app-register>

            <!-- Forgot password form -->
            <app-forgot-password *ngIf="passwordRemindMode" (cancelPasswordRemind)="cancelPasswordRemindMode($event)"></app-forgot-password>
        </div>
    </div>
</div>