<div class="container">
    
    <h2 class="text-center text-primary">You have been invited by:</h2>

    <ng-container *ngIf="invitations.length !== 0">
        <table class="table table-info table-striped text-center align-middle">
            <thead>
                <tr>
                    <th scope="col">Invited by:</th>
                    <th scope="col">Group name:</th>
                    <th scope="col">Actions</th>
                    <th scope="col">Invited at:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let invitation of invitations">
                    <th>{{invitation.senderEmail}}</th>
                    <th>{{invitation.group.name | titlecase}}</th>
                    <td>
                        <button class="btn btn-success" (click)="acceptInvitation(invitation.id)">Accept</button>
                        <button class="btn btn-warning m-1" (click)="rejectInvitation(invitation.id)">Reject</button>
                    </td>
                    <th>{{invitation.invitedAt | date:"dd/MM/yyyy 'at' hh:mm:ss"}}</th>
                </tr>
            </tbody>
        </table>
    </ng-container>
    
    <div *ngIf="invitations.length === 0" class="text-center text-warning"><h2>There's nothing here<br><fa-icon [icon]="faSadFace"></fa-icon></h2></div>

</div>


